/*RESETE DO CSS*/
/*(*)Seletor universal, atigindo uma formatação para todos os elementos do HTML*/
*{
    margin: 0px;
    padding: 0px;
    /*  Usado para travar o elemento quando o padding tirar ele do tamanho da div*/
    box-sizing: border-box;
}
h1, h2{
    width: 100%;
    height: 50px;
    font-family: arial;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-weight: bold;
    padding-top: 12px;
}
h1::first-letter{
    font-size: 1.6em;
    color: darkviolet;
}
h2{
    font-size: 1.3em;
    text-transform: none;
    color: #6d0000;
}
p{
    width: inherit;
/*Usado para colocar altura minima */
    min-height: 20px;
/*Deixa a altura automatica*/
    height: auto;
/*Usado para não ter estouro com a barra de rolagem*/
    overflow: hidden;
    margin-bottom: 10px;
    font-family: verdana;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
a{
    text-decoration: none;
}
li a{
    color: #fff;
}
/*SEÇÃO MENU */
.conteudo{
/*  Largura padrão do site*/
    width: 1300px;
    height: inherit;
/*  Usado para centralizar o elemento*/
    margin-left: auto;
    margin-right: auto;
}
#containerMenu{
    width: 100%;
    height: 50px;
    background-color: #000000;
/*  Fixiar o menu na hora de rolagem*/
    position: fixed;
/*  Permite atribuir um valor na ordem de criação no eixo z, maior o elemento, fica acima do outro, 2 na frente do 1*/
    z-index: 999;
}
#logo{
    width: 150px;
/*  (inherit) Usado para herdar o valor do elemento pai*/
    height: inherit;
    background-color: bisque;
    float: left;
}
#menu{
    width: 900px;
    height: inherit;
    float: left;
}
#redesSociais{
    width: 200px;
    height: inherit;
    float: right;
}
#listMenu{
    width: inherit;
    height: inherit;
}
.menuItem{
    width: 180px;
    height: inherit;
    list-style: none;
    font-family: verdana;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    float: left;
    padding-top: 12px;
}
.menuItem:hover{
    background-color: blueviolet;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
    
}
.iconeRedeSocial{
    width: 50px;
    height: 50px;
    float: left;
    background-color: gray;
    margin-right: 10px;
}
/*SEÇÃO IMAGEM FUNDO, SLOGAN*/
#containerSlogan{
    width: 100%;
    height: 500px;
    padding-top: 155px;
    background-image: url(../IMAGENS/fundo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#slogan{
    width: 500px;
    height: 150px;
/*  Para aplicar transparencia, o (A) usado para dar a trasnparencia na cor*/
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
}
#slogan p{
    font-family: cursive;
    font-size: 1em;
    color: #cccccc;
    line-height: 2;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
/*SEÇÃO DA EMPRESA*/
#containerEmpresa{
    width: 100%;
    height: 600px;
}
#sobreEmpresa{
    width: 100%;
    height: 300px;
}
#historicoEmpresa{
    width: 100%;
    height: 250px;
}
#imagemSobre{
    width: 300px;
    height: inherit;
    background-color: crimson;
    float: left;
    margin-right: 15px;
}
#textoSobre{
    width: 600px;
    height: inherit;
    background-color: #2020e6;
    float: left;
    margin-right: 15px;
}
#galeriaSobreLeft, 
#galeriaSobreRight{
    width: 170px;
    height: inherit;
    float: left;
    margin-right: 15px;
}
.imagemGaleriaSobre{
    width: 150px;
    height: 130px;
    background-color: darkblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#historico{
    width: 550px;
    height: 200px;
    float: left;
    margin-right: 15px;
}
#imagemHistorico{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    float: left;
    margin-right: 15px;
}
#textoHistorico{
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    float: left;
    margin-right: 15px;
}
#iconeTextoHistorico,
#textoComplHistorico{
    width: inherit;
    background-color: deeppink;
    margin-bottom: 10px;
}
#iconeTextoHistorico{
    height: 110px;
}
#textoComplHistorico{
    height: 80px;
}
#iconeHistorico, 
#textoHistoricoPrinc{
    height: inherit;
    background-color: darkturquoise;
    float: left;
}
#iconeHistorico{
    width: 120px;
    margin-right: 30px;
}
#textoHistoricoPrinc{
    width: 380px;
}
/*SEÇÃO DE SERVIÇOS*/
#containerServicos{
    width: 100%;
    height: 500px;
}
#servicosLeft, 
#servicosRight{
    height: 450px;
    float: left;
    margin-right: 50px;
}
#servicosLeft{
    width: 650px;
}
#servicosRight{
    width: 550px;
}
#textoServicoLeft, 
#galeriaServicoLeft{
    width: inherit;
    background-color: brown;
    margin-bottom: 15px;
}
#textoServicoLeft{
    height: 250px;
}
#galeriaServicoLeft{
    height: 185px;
    padding-left: 10px;
    padding-top: 15px;
}
.imagemGaleriaServicos{
    width: 150px;
    height: 150px;
    background-color: currentColor;
    float: left;
    margin-right: 10px;
}
#servicosDestaqueTexto,
#servicosDestaque{
    width: inherit;
    background-color: fuchsia;
    margin-bottom: 10px;
}
#servicosDestaque{
    height: 250px;
}
#servicosDestaqueTexto{
    height: 140px;
}
#imagemServicoDestaque,
#textoServicoDestaque{
    height: inherit;
    float: left;
    background-color: aqua;
    margin-right: 15px;
}
#imagemServicoDestaque{
    width: 200px;
}
#textoServicoDestaque{
    width: 320px;
}
/*SEÇÃO DE PRODUTOS*/
#containerProdutos{
    width: 100%;
    height: 600px;
    background-image: url(../IMAGENS/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cardProduto{
    width: 300px;
    height: 350px;
    background-color: aliceblue;
    float: left;
    margin-right: 50px;
    margin-left: 80px;
    box-shadow: 10px 10px 10px #000000;
}
#containerProdutos h1{
    margin-bottom: 50px;
/*    background-color: RGBA(255,255,255,0.5);*/
    color: #fff;
}
.cardProduto h2{
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #18007b;
}
.imagemCard{
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkviolet;
    margin-bottom: 10px;
}
.textoCard{
    width: inherit;
    height: 190px;
    background-color: darkviolet;
}
/*SEÇÃO CONTATOS*/
#containerContatos{
    width: 100%;
    height: 450px;
    background-color: #2a5c06;
}
#mapaContato{
    width: 350px;
    height: 350px;
    background-color: aqua;
    float: left;
    margin-right: 20px;
}
#dadosContato{
    width: 400px;
    height: 350px;
    background-color: beige;
    float: left;
    margin-right: 20px;
}
#imagemFilialContato{
    width: 210px;
    height: 350px;
    background-color: chocolate;
    float: left;
    margin-right: 20px;
    padding-top: 15px;
}
#endereçoFilialContato{
    width: 280px;
    height: 350px;
    background-color:burlywood;
    float: left;
}
.fotoFilial{
    width: 180px;
    height: 150px;
    background-color: currentColor;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*SEÇÃO RODAPÉ*/
#containerRodape{
    width: 100%;
    height: 60px;
    background-color: #000;
}
#direitosReservados{
    width: 600px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}
#direitosReservados p{
    text-align: center;
    color: #ccc;
    font-size: 0.9em;
}